<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Calendar App</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<style>
		h1{ font-size:18px; font-weight:bold; color:gray; }
		h2{ font-size:15px; font-weight:bold; color:gray; }
		body{ font-size:13px; color:gray; margin:5px 25px; }
		tr{ margin:5px; }
		th{ padding:5px; color:white; background:darkgray; }
		td{ padding:5px; color:black; background:#f0f0f0; }
		.err{ color:red; }
	</style>
</head>
<body>
<header>
	<h1>Calendar App</h1>
	<p>～カレンダー共有アプリ作成中～</p>
	<p th:text="|今日の日付：${#dates.format(new java.util.Date(),'yyyy年MM月dd日（E）')}|"></p>
</header>
<hr/>
<div class="main">
	<h2>表示したい年月のカレンダーを選択</h2>
	<table>
	<form method="post" action="/">
		<!-- 表示させたい年を入力 -->
		<tr>
			<td><label for="year">表示したい年を入力</label></td>
			<td><input type="text" name="year" /></td>
			<td>※数字４桁で入力</td>
		</tr>
		<!-- 表示させたい月を選ぶ -->
		<tr>
			<td>表示したい月を選択</td>
			<td>
			<select name="month" size="1">
				<option value="12" selected="selected">--選択してください--</option>
				<option value="0">1月</option>		
				<option value="1">2月</option>	
				<option value="2">3月</option>
				<option value="3">4月</option>
				<option value="4">5月</option>
				<option value="5">6月</option>
				<option value="6">7月</option>
				<option value="7">8月</option>
				<option value="8">9月</option>
				<option value="9">10月</option>
				<option value="10">11月</option>
				<option value="11">12月</option>
			</select>
			</td>
			<td><input type="submit" value="カレンダーを表示する" /></td>
		</tr>
	</form>
	</table>
	<hr/>
	<div class="contents">
	<!-- 表示させたい年月のカレンダー表示 -->
		<table>
			<tr>
				<th class="week">月</th>
				<th class="week">火</th>
				<th class="week">水</th>
				<th class="week">木</th>
				<th class="week">金</th>
				<th class="week">土</th>
				<th class="week">日</th>
			</tr>
			<tr>
			</tr>
		</table>
	</div>
</div>
<footer></footer>	
</body>
</html>